/* Estilo para la sección dentro de la caja (Menú) */

/* Menu box and background video -------------------------------------------------------------*/

/* Menu box style */
.menu {
  border: 1px solid white;
  display: block;
  position: relative;
  box-shadow: inset 0px 0px 5px 2px red, 0px 0px 5px 2px red;
  width: 310px;
  height: 390px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  border-radius: 30px;

}

/* Background video style */
.back_video {
  /* border: 1px solid #FFFFFF; */
  position: absolute;
  width: 310px;
  height: 390px;
  object-fit: cover;
  border-radius: 30px;
  z-index: -1;
}

/* ------------------------------------------------------------------------------------------ */

/* Menu title ------------------------------------------------------------------------------- */

/* Title style */
.title {
  /* border: 1px solid #FFFFFF; */
  position: absolute;
  text-shadow: 0px 0px 5px red, 0px 0px 10px red, 0px 0px 15px red, 0px 0px 20px red;
  font-family: "Beauty_Wind", "Arial"; /* Arial es la fuente de repuesto */
  text-align: center;
  width: 310px;
  color: white;
  font-size: 40px;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom:8px;
}

/* Frase style */
.frase {
  /* border: 1px solid #FFFFFF; */
  color: #FFFFFF;
  text-align: center;
  position: absolute;
  margin-top: 75px;
  width: 310px;
}

/* Frase autor style */
.frase_auth {
  /* border: 1px solid #FFFFFF; */
  color: #FFFFFF;
  text-align: right;
  position: absolute;
  margin-top: 95px;
  margin-bottom: 0px;
  width: 298px;
  text-decoration: none;
}
/* ------------------------------------------------------------------------------------------ */

/* Menu option ------------------------------------------------------------------------------ */

/* Menu option style */
.menu_opt {
  /* border: 1px solid #FFFFFF; */
  color: #FFFFFF;
  text-align: center;
  position: absolute;
  margin-top: 122px;
  margin-right: auto;
  width: 309px;
  height: 267px;
  border-radius: 0px 0px 30px 30px;
}

/* Options and emoji style */
.opt_1 p, .opt_2 p, .opt_3 p, .opt_4 p, .opt_5 p {
  margin-top: 0px;
  margin-bottom: 14px;
  display: inline-block;
 }

 /* Options substyle */
.img, .vid, .music, .likes, .git {
  /* border: 1px solid #FFFFFF; */
  width: 36%;
  font-family: "Agent_C", "Arial"; /* Arial es la fuente de repuesto*/
  font-size: 30px;
}

/* Emoji substyle */
.ico_img, .ico_vid, .ico_music, .ico_likes, .ico_git {
  width: 23%;
}

/* Options links style */
.img_link, .vid_link, .music_link, .likes_link, .git_link {
  text-decoration: none;
  color: #FFFFFF;
}

/* Options links substyle */
.img_link:hover, .vid_link:hover, .music_link:hover, .likes_link:hover, .git_link:hover {
  text-shadow: 0px 0px 30px red, 0px 0px 20px red, 0px 0px 15px red, 0px 0px 10px red;
  color: white;
}

/* ------------------------------------------------------------------------------------------- */
