/* Estilo para body */
body {
  margin: 0px 1px 0px 1px;
  padding: 0px 1px 0px 1px;
  background-image: url("../../img/background.webp");
  background-attachment: fixed;
  background-position: center;
  font-family: "Ubuntu Nerd Font Regular", "Arial"; /* Arial es la fuente de repuesto*/
}

audio {
  /* border: 1px solid white; */
  width: 100%;
  height: 20px;
  top: 0;
}




